#slider {
    position: absolute;

    width: 175px;
    height: 1px;
    -webkit-appearance: none;
    background-color: rgba(146, 146, 146, 0.5);

    top: 250px;
    left: 60px;
}

    #slider::-webkit-slider-runnable-track {
    -webkit-appearance:none;
    height: 1px;
    color: rgb(146,146,146);
}

#slider::-webkit-slider-thumb {
    -webkit-appearance:none;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border-radius: 20px;
    border-width: 0px white;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.32);
    cursor: grab;
    background: white;
}

#minimumTrack {
    background-color: #007AFF;
    position: absolute;
    left: 62px;
    top: 252px;
    width: 77px;
    height: 1px;

}

#minimumBrightnessImage {
    position: absolute;
    top: 246px;
    left: 39px;
    width: 15px;
    height: auto;
}

#maximumBrightnessImage {
    position: absolute;
    top: 241px;
    left: 241px;
    width: 25px;
    height: auto;
}